@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#ebe5c5;
    --cor1:#83e1ab;
    --cor2:#3ddc04;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font01:arial, verdana,Helvetica, sans-serif
}

body {
    background-color: #ebe5c5;
}
header {
    height: 150px;
    background-image:linear-gradient(to left, var(--cor3), var(--cor4))  
}

header > h1 {
    font-family: var(--font01);
    font-size: 3em;
    padding: 30px;
    text-align: center;
    color: white;
}

header > menu > a {
    font-family: var(--font01);
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #063d1e;
    margin: 10px 0px 0px 10px;
    padding: 8px;
}

header > menu > a:hover {
    transition-duration: 0.8s;
    background-color: #2a8151;
}

main {
    margin: auto;
    background-color: white;
    max-width: 1200px;
    min-width: 600px;
}