@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#ebe5c5;
    --cor1:#83e1ab;
    --cor2:#3ddc04;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font01:arial, verdana,Helvetica, sans-serif
}

body {
    background-color: #ebe5c5;
}
header {
    height: 150px;
    background-image:linear-gradient(to left, var(--cor3), var(--cor4))  
}

header > h1 {
    font-family: var(--font01);
    font-size: 4em;
    padding: 22px;
    text-align: center;
    color: white;
}

header > menu > a {
    font-family: var(--font01);
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #063d1e;
    margin: 10px 0px 0px 10px;
    padding: 8px;
}

header > menu > a:hover {
    transition-duration: 0.8s;
    background-color: #2a8151;
}

main {
    margin: auto;
    background-color: white;
    max-width: 1200px;
    min-width: 600px;
}

main h2 {
    padding: 30px 10px 10px 10px;
    font-size: 3.5em;
    text-align: center;
    background-color: #2fa86592;
}

main h3 {
    padding: 10px;
    font-size: 3em;
    text-align: center;
}

main a {
    padding: 0px 200px;
}

main > p {
    padding: 10px 10px 2px 10px;
    line-height: 1.8em;
    font-size: 1.3em;
}

main > p.resp {
    padding: 10px 10px 20px 10px;
    line-height: 1.2em;
}

footer {
    background-color: rgb(27, 27, 27);
    height: 160px;
}

footer p {
    padding: 10px;
    color: white;
}